@{
    ViewData["Title"] = "Generador QR";
}

<div class="text-center">
    <h1 class="display-4">Generador de Codigo QR</h1>
</div>
 <hr/>


<div class="row">
    <div class="col-md-4">
        <form asp-controller="Movies" asp-action="QR" method="post">
            <div class="form-group">
                       <input type="text" name="qrcode"/>
                       <input type="submit" value="Generar QR" class="btn btn-primary" />
            </div>
            
            </form>
      
        
    </div>
   
</div>
  <div class="container align-content-center">
         @if (ViewBag.QRCodeImage != null)
        {
            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.QRCodeImage))" width="100" height="100" />

        }
 </div>